/vendor
/node_modules
/.env
/.env.*
!/.env.example
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
/public/hot
/public/storage
/bootstrap/cache/*.php
.phpunit.result.cache
.DS_Store
Thumbs.db
